body {
    font-family: sans-serif;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

a {
    color: #00ffaa;
}

.top-section {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

#top-buttons {
    background-color: aquamarine;
    color: black;
    border-radius: 8px;
    margin: 5px;
    padding: 5px 15px 5px 15px;
    text-decoration-line: none;
}

#top-buttons:hover {
    background-color: black;
    color: aquamarine;
}

h1 {
    color: #00ff62;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#intro {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

input {
    box-sizing: border-box;
    font-size: 1em;
    color: #0400ff;
    margin: 8px 0;
    padding: 10px 10px;
    opacity: 40%;
}

label {
    color: aquamarine;
}

button {
    background-color: aquamarine;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    opacity: 50%;
}

button:hover {
    cursor: pointer;
    color: red;
}

li {
    padding: 5px;
    line-height: 1.5;
    word-spacing: 2px;
}

.top-box {
    background-color: #2d2d2d;
    opacity: 50%;
    color: white;
    margin: 0px;
    padding: 5px;
    padding-top: 10px;
}

.search {
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 5px;
    width: 250px;
}

.info {
    background-color: #2d2d2d;
    color: white;
    margin: 150px 100px 60px 100px;
    padding: 15px;
    opacity: 50%;
}

footer {
    color: #646464;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    font-size: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
}

#advice-button {
    margin: 20px 0 0 10px;
}

.advice {
    line-height: 1.6;
    text-align: center;
}
